.header {
    padding: 30px 0 30px;
    background: #9A86A4;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
}

.container {
    width: 1400px;
    display: flex;
}

.logo {
    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: #FFF9D7;
    cursor: pointer;
}

.search_area {
    display: flex;
    position: relative;
    margin: auto;
}

.search_input {
    padding: 0 2.5vw 0 0;
    width: 20vw;
    height: 15px;
    border-radius: 4px;
    border: none;
    background: #E3F6F5;
    color: black;
}

.search_button {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    border: none;
    background: #B9E7E7;
    color: black;
    right: 0;
    margin-left: 10px;
    font-family: 'Signika Negative', sans-serif;
    cursor: pointer;
}

.nav_element {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

.nav_element p {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: #B1BCE6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Signika Negative', sans-serif;
}

.nav {
    margin-right: 70px;
}

.ul {
    display: flex;
    gap: 20px;
}

.submenu {
    width: 150px;
    position: absolute;
    left: -50px;
    padding: 10px;
    background: #D9D9D9;
    border-radius: 10px;
    z-index: 1;
}

.submenu li {
    font-family: 'Signika Negative', sans-serif;
    padding: 4px;
    background: #BDBDBD;
    border-radius: 7px;
}

.submenu li + li {
    margin-top: 5px;
}

.searchbx {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E3F6F5;
    border: solid #272343 3px;
    padding: 1px 10px;
}

.searchbx div {
    padding: 4px 0;
}

.searchbx div p {
    height: 10px;
    font-size: 12px;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}