.signup {
    background: #9A86A4;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    margin: auto;
}

.title {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.title h1 {
    display: block;
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    color: #FFF9D7;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
    background: #B1BCE6;
    padding: 12px 110px;
    border-radius: 10px;
}

.wrapper {
    margin-top: 120px;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input_box {
    background: #F1F0C0;
    border-radius: 20px;
    padding: 70px;
    position: absolute;
    transition: .7s ease;
    left: 50%;
    transform: translateX(-50%);
}

.input_item + .input_item {
    margin-top: 5px;
}

.input_item input {
    width: 400px;
    height: 50px;
    background: #D9D9D9;
    border-radius: 8px;
    border: none;
}

.input_item p {
    line-height: 30px;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Signika Negative', sans-serif;
}

.forgot {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.forgot a {
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: #9A86A4;
    font-family: 'Signika Negative', sans-serif;
}

.action_btns {
    display: flex;
    justify-content: center;
}

.action_btns button {
    font-size: 20px;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 600;
    height: 45px;
    padding: 0 20px;
    background: #D9D9D9;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.action_btns button:nth-child(1) {
    color: #179EEA;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.action_btns button:nth-child(2) {
    color: #ED6F6F;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.possible_error {
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
    padding-bottom: 10px;
    color: crimson;
}


.created {
    font-family: 'Signika Negative', sans-serif;
    font-size: 22px;
    font-weight: 600;
    padding: 60px 120px;
    background: #F1F0C0;
    position: absolute;
    display: flex;
    border-radius: 30px;
}


.conf {
    width: 500px;
    background: #F1F0C0;
    position: absolute;
    /* left: 100vw; */
    transition: .7s ease;
    display: flex;
    padding: 40px 30px;
    border-radius: 30px;
    /* transform: translateX(-50%); */
}

.conf input {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 700;
    font-size: 19px;
    text-align: center;
    width: 50px;
    height: 50px;
    background: #D9D9D9;
    border-radius: 8px;
    border: none;
}

.conf input + input {
    margin-left: 20px;
}

.conf button {
    margin-left: 30px;
    background: #E8F0FE;
    height: 50px;
    padding: 0 20px;
    border: none;
    border-radius: 10px;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

.input_error {
    border-radius: 7px;
    border: solid rgb(211, 40, 40);
    height: 30px;
    font-size: 15px !important;
    color: orange;
    font-family: 'Signika Negative', sans-serif;
    padding-left: 10px;
}